/* Base Styles */
body {
    font-family: Arial, sans-serif;
    color: #1DA1F2;
    background-color: #F5F8FA;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e8ed;
}

.header .logo {
    color: #1DA1F2;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* Blog Post Form */
.blog-post-form {
    display: flex;
    align-items: start;
    padding: 20px 0;
    border-bottom: 1px solid #e1e8ed;
}

.blog-post-form label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.blog-post-form img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-post-form textarea {
    width: 100%;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 10px;
    resize: none;
    font-size: 16px;
    color: #14171A;
}

.blog-post-form input {
    width: 100%;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #14171A;
}

.blog-post-form .post-btn {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.blog-post-form .post-btn:disabled {
    background-color: #AAB8C2;
    cursor: not-allowed;
}

.blog-post-form .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    align-content: center;
}

/* Blog Post */
.blog-post {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #e1e8ed;
}

.blog-post img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-post-content {
    flex-grow: 1;
}

.blog-post-content .username {
    font-weight: bold;
    color: #14171A;
}

.blog-post-content .blog-post-text {
    color: #14171A;
    font-size: 16px;
    margin: 5px 0;
}

/* Blog Post Actions */
.blog-post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.blog-post-actions button {
    background: none;
    border: none;
    color: #657786;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.blog-post-actions button:hover {
    color: #1DA1F2;
}

.blog-post-actions button svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
